body {
  background-color: white;
  /*  #00c8ff // hsl(192, 100%, 50%)  */

  font-family: monospace;
  color: blue;
  text-align: center;

}

.navegador{
  display: flex;
  text-align: center;
  border-color: darkblue;

}

.text{
  border-style: solid;
  background-color: lightblue;
  width: 100%;
  text-align: center;
  align-items: center;
}

.navegador ul{
  display:  flex;
  border-style: solid;
  paddiong:  5px;
  list-style: none;
  display: flex;
}

.navegador a {
  padding: 5px;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

.text li {
  padding: 5px;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

#contenedor{
  border-style:  solid;
  border-color: darkblue;
  width:  100%;

}

.articulo{
text-align: center;
padding: 5px;
border-color: darkblue;
border-style: solid;
margin: 10px;
max-width: 150px;
float: left;
}

img.img {
  width: 150px;
  height: 150px;
}

h1 {
  background-color: dodgerBlue;
  border-style: dotted solid groove hidden;
  color: blue;
}

p {
  background-color: Slateblue;
  color: purple;
  border: 5px groove violet;
  border-radius: 15px;
  text-align: left;

}

.par {
  font-style: oblique;
  font-weight: bolder;
}

p.par{
    color: yellow;
    text-align: right;
    border: 5px dotted violet;
}

#pie{
  text-align: center;
  float: left;
  width: 100%;
  background-color: lightblue;
  padding: 10px;

}


